p {
    color: red;
}
img {
    width: 300px
}

.question {
    color: green;
}

.answers {
    color: blueviolet;
}

.welcome {
    height: 100px;
    padding: 16px;
    border: 4px solid red;
    margin: 32px;
    text-align: center;
}

.btn-q3 {
    margin-left: 20px;
}